// Place all the styles related to the Sharks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//COLORS
$color-primary: #f9ed69; //yellow color
$color-secondary: #f08a5d; //orange
$color-tertiary: #b83b5e; //pink
$color-text-dark: #333; //grey
$color-text-light: #eee;

$white: white;
$black: black;
$green: green;


.footer {
    list-style: none;
    float: right; //Use clearfix the problem due to float;
	background-color: $green;
	color: $white;
    width: 100%;
    li {
        display: inline-block;
        text-transform: uppercase;
        margin-left: 30px;
        &:first-child {
            margin: 0;
        }
        a:link {
            color: $black;
            // @include style-link-text($color-text-dark);
        }
    }
}




.navbar {
        margin-bottom: 0;
        background: $black;
}
body {
        background: $green; //$black;
        color: $black;
        font-family: 'Merriweather', sans-serif;
}
h1,
h2 {
        font-weight: bold;
}
p {
        font-size: 16px;
        color: $green;
}
a:visited {
        color: $black;
}
.jumbotron {
        background: #0048CD;
        color: $black;
        text-align: center;
        p {
                color: $black;
                font-size: 26px;
        }
}
.link {
        color: $black;
}
.btn-primary {
        color: $black;
        border-color: $black;
        margin-bottom: 5px;
}
.btn-sm {
        background-color: $black;
        display: inline-block;
}
img,
video,
audio {
        margin-top: 20px;
        max-width: 80%;
}
caption {

        float: left;
        clear: both;

}