<div class="container">
	<div class="lead well">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<!-- <img class="media-object" src="http://www.gravatar.com/avatar/99b88146e2bd8306a9c61375f2fd30ec?s=48&d=identicon">  -->
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">user@email.com asked:</h4>
				Dolor pariatur voluptate irure esse officia ut elit in voluptate quis veniam culpa in ea pariatur dolore pariatur officia reprehenderit in veniam reprehenderit sint do veniam sit culpa ut id dolore id fugiat laborum ex nulla cupidatat.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div>
				<button type="button" class="btn btn-success bt-sm" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>
			</div>

			<%= render 'qa/new_answer_form' %>

			<div class="media">
				<div class="media-left">
					<a href="#">
						<!-- <img class="media-object" src="http://www.gravatar.com/avatar/99b88146e2bd8306a9c61375f2fd30ec?s=48&d=identicon">  -->
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">user@abc.com answered:</h4>
					Dolor pariatur voluptate irure esse officia ut elit in voluptate quis veniam culpa in ea pariatur dolore pariatur officia reprehenderit in veniam reprehenderit sint do veniam sit culpa ut id dolore id fugiat laborum ex nulla cupidatat.
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<!-- <img class="media-object" src="http://www.gravatar.com/avatar/99b88146e2bd8306a9c61375f2fd30ec?s=48&d=identicon">  -->
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">user@bcd.com answered:</h4>
				Dolor pariatur voluptate irure esse officia ut elit in voluptate quis veniam culpa in ea pariatur dolore pariatur officia reprehenderit in veniam reprehenderit sint do veniam sit culpa ut id dolore id fugiat laborum ex nulla cupidatat.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<!-- <img class="media-object" src="http://www.gravatar.com/avatar/99b88146e2bd8306a9c61375f2fd30ec?s=48&d=identicon">  -->
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"> user@xyz.com answered:</h4>
				Dolor pariatur voluptate irure esse officia ut elit in voluptate quis veniam culpa in ea pariatur dolore pariatur officia reprehenderit in veniam reprehenderit sint do veniam sit culpa ut id dolore id fugiat laborum ex nulla cupidatat.
			</div>
		</div>
	</div>
</div>
