- for post in @shark.posts
  %ul
    %li.post
      = post.body
      = button_tag "Remove Post", class: 'btn btn-warning', data: { controller: "posts", action: "posts#remove" }
      = button_tag "Upvote Post", class: 'btn btn-warning', data: { controller: "posts", action: "posts#upvote" }
