<h1> Clock </h1>

<!-- react_component "Person", {name: "Siraj"} -->
<!-- react_component "MiniPost", {title: "Oliver Twist", published: true, publishedBy: "OReilly"} -->
<%= yahoo %>

<div class="clock">
<%= react_component "ClockApp" %>
</div>

<%= console %>
