<h1> Main </h1>

<!-- react_component "Person", {name: "Siraj"} -->
<!-- react_component "MiniPost", {title: "Oliver Twist", published: true, publishedBy: "OReilly"} -->

<div class="item">
<%= react_component "Main" %>
</div>

<div id="react"></div>
<%= console %>
